<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="CNNSTR" connectionString="Server=DESKTOP-MP0OINT\SQLEXPRESS; DataBase= DERAKE2018; Integrated Security=True; User Id=DESKTOP-MP0OINT\USER; Password=;"/>
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>